extends ../layouts/_layout

block content
    h1 HOME PAGE

    if islogged
        button(hx-post='/api/users/logout'
            hx-target='#root'
            hx-swap="outerHTML"
            hx-push-url="true") Logout
    else
        a(href="/users/login") Login
        |
        |
        a(href="/users/register") Sign up