extends ../layouts/sign

block sign-content 
    form(hx-post='/users/login' hx-target="this" hx-target-4*='#errors' hx-swap="outerHTML")
        div
            label(for='email') Email
            input(name='username' type='email' id='email')
        div 
            label(for='password') Password
            input(name='password' type='password' id='password')
        p#errors
        button(type='submit') Login